@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: darkgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
    padding-left: 5%;
}

.ScrollingMessages{
    height: 50px;
}

.promotion{
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    text-align: center;
}

ul, a {
    font-weight:500;
    font-size:30px;
    color: white;
    text-decoration: none;
}

.logo{
    cursor: pointer;
    height:30%;
    width: 150px;
    margin-right: auto;
}

.menu {
    list-style: none;
    font-family: 'Pacifico', cursive;
}

.menu ul {
    display: inline-block;
    padding: 0px 20px;
    margin-right: 20px;
}

.menu ul {
    transition: all 0.3s ease 0s;
}

.menu ul a:hover{
    color: #0088a9
}

.login{
    height: 80px;
    width: 80px;
    cursor: pointer;
    margin-left: 20px;
}

.shoppingcart{
    height:80px;
    width:80px;
}

.items{
    width: 400px;
    height:400px;
    margin: 20px 20px 80px 80px;
}

.itemlist{
    float: left;
}

.shop-item-price{
    font-size: 50px;
    color: 24252a;
    font-family: 'Pacifico', cursive;
    margin-left: 70px;
}

.shop-item-button{
    height: 35px;
    width: auto;
    margin-left: 35px;
}

.shop-item-name{
    font-size: 35px;
    text-align: center;
    margin: 10px 10px 0 0;
    font-family: 'Pacifico', cursive;
}